@use '../utils/variables' as *;
@use '../utils/fonts' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: $black-bg;
    font-family: $font-3;
}
main {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
input:focus,button:focus,textarea:focus {
    outline: none;
    box-shadow: none;
}
a {
    text-decoration: none;
}
section {
    overflow: hidden;
    position: relative;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.error-message {
    text-transform: capitalize;
    text-align: center;
    font-family: $font-4;
    color: $white-clr;
}