@use '../../utils' as *;
.sec-cta-one {
    .img-box {
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);
            z-index: 1;
        }
        img {
            height: 447px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transform: scale(1.4);
        }
    }
    .desc {
        padding: 0;
        .icon {
            margin: 0 auto 20px;
            display: block;
            height: clamp(100px, 10vw, 180px);
            object-fit: contain;
            object-position: center;
        }
        h6 {
            @include xsHeading(clamp(22px,3vw,32px),clamp(32px,4vw,36px),clamp(10px,1.5vw,16px));
        }
        p {
            @include paraThree(0,$white-clr,clamp(14px, 1.5vw, 16px),clamp(24px, 2vw, 28px), unset,-0.1px)
        }
    }
}

@include respond-to('infinite') {
    .sec-cta-one {
		max-width: 2000px;
        margin: 0 auto;
    }
  }

  @include respond-to('tiny') {
    .sec-cta-one {
        .img-box {
            img {
                height: 250px;
                transform: scale(1);
            }
        }
    }
  }

  @include respond-to('sm') {
    .sec-cta-one {
        .img-box {
            img {
                height: 300px;
                transform: scale(1);
            }
        }
    }
  }