@use '../../utils' as *;
.sec-about {
    z-index: 2;
    padding-bottom: clamp(40px,8vw,77px);
    overflow: visible;
    .bg-elem {
		position: relative;
		&::before {
            content: "";
            display: block;
            position: absolute;
            top: -35%;
            left: 0%;
            z-index: -1;
            width: 100%;
            max-width: 523px;
            height: 523px;
            background: #cc9900;
            border-radius: 50%;
            opacity: 0.4;
            filter: blur(175px);
		}
    }
    .img-box {
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
            z-index: 0;
            height: 35%;
        }
        img {
            object-fit: contain;
            display: block;
            margin: 0;
            // width: 100%;
        }
    }
    .desc {
        // .row {
        //     .col-12:not(:last-child) {
        //         margin-bottom: 30px;
        //     }
        // }
        h2 {
            @include xxlHeading(clamp(24px,6vw,64px),capitalize,clamp(30px,6vw,72px),clamp(12px,2.5vw,37px),-1px);
        }
        .box-main {
            margin-bottom: 30px;
            .ct-head {
                padding: 0 0 0 40px;
                position: relative;
                .icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            h6 {
                @include smHeading(capitalize,clamp(6px,1vw,12px));
            }
            p {
                @include paraTwo(0,unset)
            }
        }
    }
}
