$prim-clr: #E0AA3B;
$prim-clr-2: #cc9900; // not in use
$sec-clr: #212121;
$sec-clr-2: #262626;
$white-clr: #fff;
$black-clr: #000;
$lt-grey-clr: rgb(255 255 255 / 0.5);
$lt-grey-clr-2: #7F7F7F;
$lt-grey-clr-3: #92929D;
$lt-grey-clr-4:#98989A;
$lt-grey-clr-5:#c9c9c9;
$prim-bg: #E0AA3B;
$prim-bg-2: #cc9900;
$sec-bg: #212121;
$sec-bg-2: #121212; // not in use
$sec-bg-3: #141414;
$sec-bg-4: #1A1A1A;
$sec-bg-5: #101010;
$black-bg: #000;
$black-bg-2: rgba(0,0,0,0.5);
$black-bg-3: rgba(0,0,0,0);
$black-bg-4: rgba(0,0,0,0.6);
$black-bg-5: rgba(0,0,0,0.7);
$black-bg-6: rgba(0,0,0,0.8);
$white-bg: #fff;
$grad-clr-1: rgba(0,0,0,1);
$grad-clr-2: rgba(36,28,10,1);
$grad-clr-3: rgba(121,92,32,1);
$grad-clr-4: rgba(224,170,59,1);
$shadow-1: rgba(224, 169, 59, 0.40);
$shadow-2: rgba(204, 153, 0, 0.80);
$border-clr: #BEC0BF;
$border-clr-2: rgba(255, 255, 255, 0.3);
$gradient-1: linear-gradient(90deg, $prim-bg 0%, $black-bg 100%);
$gradient-2: linear-gradient(180deg, $prim-bg 35%, $black-bg 100%);
$gradient-3: linear-gradient(0deg, $grad-clr-1 0%, $grad-clr-2 0%, $grad-clr-3 50%, $grad-clr-4 100%);
$gradient-4: linear-gradient(0deg, $black-bg -15%, $white-bg 100%);
$gradient-5: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,1) 100%);

// Breakpoints
$breakpoint-infinite-two: 2000px;
$breakpoint-infinite: 1920px;
$breakpoint-four-xxl: 1600px;
$breakpoint-two-xxl: 1445px;
$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-tiny: 300px;

// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;
// $breakpoint-xxl: 1400px;
