@use '../../utils' as *;


.sec-features {
    .head-area {
        margin-bottom: clamp(20px,7vw,90px);
        h6 {
            @include servicesHeading($font-4,8px);
        }
        h3 {
            @include servicesHeading($font-6,8px);
        }
    }
    .service-card {
        z-index: 2;
        padding-top: clamp(30px,5vw,60px);
        padding-bottom: clamp(30px,5vw,60px);;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, $black-bg 50%, $black-bg-2 85%, $black-bg-3 100%);
            z-index: -1;
        }
        .desc {
            .icons {
                max-height: 64px;
                max-width: 64px;
                object-fit: contain;
                object-position: center;
                margin-bottom: clamp(20px,4vw,40px);
            }
            h4 {
                @include serCardHead(clamp(12px, 2.5vw, 24px),left);
            }
            p {
                @include paraThree(0,$lt-grey-clr-5,clamp(14px, 1.5vw, 16px),clamp(24px, 3vw, 36px),unset,-0.1px)
            }
            .btn-contact {
                @include buttonOne(clamp(45px,5vw,57px),clamp(180px,14vw,217px),$font-4,clamp(16px, 1vw, 20px),40px 0 0 0);
                svg {
                    font-size: clamp(14px,1.5vw,21px);
                    position: absolute;
                    display: inline-flex;
                    right: 27px;
                }
            }
        }
        &:nth-child(odd) {
            background-position: top left;
            &::before {
                background: linear-gradient(270deg, $black-bg 50%, $black-bg-2 85%, $black-bg-3 100%);
            }
            .container {
                .row {
                    flex-direction: row-reverse;
                }
            }
        }
        &:last-child {
            margin-bottom: clamp(40px,7vw,80px);
        }
    }
}
@include respond-to('infinite') {
    .sec-services {
        .service-card {
            max-width: 1920px;
            margin: 0 auto;
        }
    }
  }
@include respond-to('two-xxl') {
    .sec-services {
        .service-card {
            &::before {
                background: linear-gradient(90deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
            }
            &:nth-child(odd) {
                &::before {
                    background: linear-gradient(270deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
                }
            }
        }
    }
  }
  @include respond-to('xxl') {
    .sec-services {
        .service-card {
            &::before {
                background: linear-gradient(90deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
            }
            &:nth-child(odd) {
                &::before {
                    background: linear-gradient(270deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
                }
            }
        }
    }
  }
  @include respond-to('xl') {
    .sec-services {
        .service-card {
            &::before {
                background: linear-gradient(90deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
            }
            &:nth-child(odd) {
                &::before {
                    background: linear-gradient(270deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
                }
            }
        }
    }
  }
  @include respond-to('lg') {
    .sec-services {
        .service-card {
            &::before {
                background: linear-gradient(90deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
            }
            &:nth-child(odd) {
                &::before {
                    background: linear-gradient(270deg, $black-bg 30%, $black-bg-2 85%, $black-bg-3 100%);
                }
            }
        }
    }
  }
  @include respond-to('md') {
    .sec-services {
        .head-area {
            margin-top: 20px;
        }
        .service-card {
            background-position: center center;
            background-size: cover;
            &::before {
                background: linear-gradient(90deg, $black-bg-6 30%, $black-bg-5 60%, $black-bg-4 100%);
            }
            &:nth-child(odd) {
                &::before {
                    background: linear-gradient(90deg, $black-bg-6 30%, $black-bg-5 60%, $black-bg-4 100%);
                }
            }
        }
    }
  }
  @include respond-to('sm') {
    .sec-services {
        .head-area {
            margin-top: 20px;
        }
        .service-card {
            background-position: center center;
            background-size: cover;
            &::before {
                background: linear-gradient(90deg, $black-bg-6 30%, $black-bg-5 60%, $black-bg-4 100%);
            }
            &:nth-child(odd) {
                &::before {
                    background: linear-gradient(90deg, $black-bg-6 30%, $black-bg-5 60%, $black-bg-4 100%);
                }
            }
        }
    }
  }
  @include respond-to('tiny') {
    .sec-services {
        .head-area {
            margin-top: 20px;
        }
        .service-card {
            background-position: center center;
            background-size: cover;
            &::before {
                background: linear-gradient(90deg, $black-bg-6 30%, $black-bg-5 60%, $black-bg-4 100%);
            }
            &:nth-child(odd) {
                &::before {
                    background: linear-gradient(90deg, $black-bg-6 30%, $black-bg-5 60%, $black-bg-4 100%);
                }
            }
            .desc {
                .icons {
                    max-height: 44px;
                    max-width: 44px;                
                }
            }
        }
    }
  }