@use '../../utils' as *;

.sec-testimonial {
    padding-top: clamp(60px, 8vw, 144px);
    padding-bottom: clamp(30px, 4vw, 60px);
    .head-area {
        text-align: center;
        h6 {
            @include subHeading(clamp(16px,1.5vw,18px),4px,uppercase,3px);
        }
        h3 {
            @include xxlHeading(clamp(24px, 4vw, 48px), capitalize, clamp(24px, 4vw, 47px), clamp(14px,2vw,29px), 0px);
        }
        p {
            @include paraThree(0,$white-clr,clamp(14px, 1.5vw, 18px),unset,unset,0px)
        }
    }
    .testimonial-slider-area {
        position: relative;
        margin-top: clamp(40px,6vw,115px);
        .single-img {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -40%;
                background: url(/images/testimonial/comma.png) center/contain no-repeat;
                width: clamp(45px,10vw,133px);
                height: clamp(35px,10vw,115px);
            }
            .slick-list {
                .slick-track {
                    .slick-slide {
                        &>div {
                            position: relative;
                            overflow: hidden;
                            .img-main {
                                display: flex !important;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                img {
                                    height: 530px;
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                    margin: 0 auto;
                                }
                                a {
                                    @include playBtn(clamp(40px, 7vw, 80px),clamp(40px, 7vw, 80px),$gradient-4);
                                    svg {
                                        @include playIcon(clamp(20px, 3vw, 35px));
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .multi-img {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        &>div {
                            margin: 0 16px;
                            position: relative;
                            overflow: hidden;
                            .img-main {
                                display: flex !important;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                img {
                                    height: 295px;
                                    object-fit: cover;
                                    object-position: center;
                                    margin: 0 auto;
                                    width: 100%;
                                }
                                a {
                                    @include playBtn(clamp(20px, 3vw, 40px),clamp(20px, 3vw, 40px),$gradient-5);
                                    svg {
                                        @include playIcon(clamp(12px, 2vw, 16px));
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .desc-slider {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        &>div {
                            .desc {
                                margin-bottom: clamp(30px,5vw,60px);
                                margin-left: 16px;
                                margin-right: 16px;
                                h6 {
                                    @include subHeadingTwo(clamp(16px,2vw,24px), clamp(16px,2vw,22px), capitalize)
                                }
                                h4 {
                                    @include xxlHeading(clamp(24px, 3vw, 32px), capitalize,normal, 6px, normal);
                                }
                                p {
                                    @include paraThree(0,$white-clr,clamp(14px, 1.5vw, 16px),clamp(20px, 2vw, 26px),unset,0px)
                                }
                            }
                        }
                    }
                }
            }
            .next-arrow {
                display: block;
                font-size: 40px;
                height: auto;
                width: auto;
                color: $white-clr;
                top: 15px;
                right: 0;
                &::before {
                    display: none;
                }
            }
            .slick-prev {
                display: none !important;
            }
        }
    }
}


@include respond-to('tiny') {
    .sec-testimonial {
        .testimonial-slider-area {
            .single-img {
                &::before {
                    left: 30px;
                }
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            &>div {
                                .img-main {
                                    img {
                                        height: 400px;
                                        object-position: top;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }

  @include respond-to('sm') {
    .sec-testimonial {
        .testimonial-slider-area {
            .single-img {
                &::before {
                    left: 0px;
                }
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            &>div {
                                .img-main {
                                    img {
                                        height: 400px;
                                        object-position: top;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
  @include respond-to('md') {
    .sec-testimonial {
        .testimonial-slider-area {
            .single-img {
                &::before {
                    left: -15%;
                }
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            &>div {
                                .img-main {
                                    img {
                                        // height: 400px;
                                        // object-position: top;
                                        // object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .multi-img {
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            &>div {
                                margin: 0 8px;
                                .img-main {
                                    img {
                                        height: 250px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }